Repository openvinotoolkit/npu_compiler, changes with the owners that CODEOWNERS names for each.
All owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel, @mznamens, @nikita-kud, @maxim-kurin, @lerbelintel, @mikhailk62, @ZoranZomborat, @syao-2015, @adeflume, @bradyjohn, @briangrifiin, @gladilov-gleb, @AndrewBakalinIntel, @shokinal, @MikhailPedus, @vmskv, @esmirno, @sshumihi, @SokolovAndrey1

[Coverity] - Fix Attempting to access the managed object of an empty smart pointer record
  src/vpux_utils/src/profiling/parser/parser.cpp
Owners: @vinograd47, @nikita-kud

Workflow init
  .github/workflows/job_build_and_test_linux.yml
  .github/workflows/ubuntu_24.yml
  validation/openvino_config.json
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel, @maxim-kurin, @sshumihi, @SokolovAndrey1

Build with tests
  .github/workflows/job_build_and_test_linux.yml
  .github/workflows/ubuntu_24.yml
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

Isolate tests
  .github/workflows/job_build_test_mlir_linux.yml
  .github/workflows/ubuntu_22.yml
  .github/workflows/ubuntu_24.yml
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

Implement cache
  .github/workflows/job_build_test_mlir_linux.yml
  .github/workflows/ubuntu_22.yml
  .github/workflows/ubuntu_24.yml
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

Adding compilation tests
  .github/workflows/job_build_mlir_linux.yml
  .github/workflows/job_mlir_linux.yml
  .github/workflows/job_test_mlir_linux.yml
  .github/workflows/ubuntu_22.yml
  .github/workflows/ubuntu_24.yml
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

Fix LIT tests
  .github/workflows/job_build_mlir_linux.yml
  .github/workflows/job_test_mlir_linux.yml
  tests/lit/NPU/backend/VPUIP_37XX.mlir
  tests/lit/NPU/conversion/pipelines/dynamic_broadcast_w_shapeOf.mlir
  tests/lit/NPU/conversion/pipelines/dynamic_reshape.mlir
  tests/lit/NPU/conversion/pipelines/dynamic_strided_slice.mlir
  tests/lit/NPU/conversion/pipelines/loop.mlir
  tests/lit/NPU/conversion/pipelines/shape_of_37XX.mlir
  tests/lit/NPU/conversion/pipelines/shape_of_3_37XX.mlir
  tests/lit/NPU/dialect/NPUReg40XX/one_dma_elf_export_roundtrip.mlir
  tests/lit/NPU/large_memory/baseline_37XX.mlir
  tests/lit/NPU/large_memory/baseline_40XX.mlir
  tests/lit/NPU/large_memory/leon_overflow_37XX.mlir
  tests/lit/NPU/large_memory/shave_overflow_37XX.mlir
  tests/lit/NPU/large_memory/shave_overflow_40XX.mlir
  tests/lit/NPU/pipelines/import_IE_bounded_dynamism_to_static_37XX.mlir
  tests/lit/NPU/pipelines/import_IE_dynamic_transpose_37XX.mlir
  tests/lit/NPU/pipelines/import_IE_dynamic_transpose_with_bounds_37XX.mlir
  tests/lit/NPU/pipelines/shape_of_gather_strided_slice_test_37XX.mlir
  tests/lit/NPU/pipelines/slice-to-strided-slice.mlir
  tests/lit/NPU/pipelines/strided-slice-non-const-ends-test_37XX.mlir
  tests/lit/NPU/roundtrip/act-kernel_37XX.mlir
  tests/lit/NPU/roundtrip/two-dma-ports_37XX.mlir
  tests/lit/NPU/roundtrip/verify-dma_37XX.mlir
  tests/lit/NPU/utils/profiling_parser_debug_40XX.mlir
  tests/lit/NPU/utils/profiling_parser_debug_elf_37XX.mlir
  tests/lit/NPU/utils/profiling_parser_json_40XX.mlir
  tests/lit/NPU/utils/profiling_parser_json_verbose_40XX.mlir
  tests/lit/NPU/utils/profiling_parser_metadata_elf_37XX.mlir
  tests/lit/NPU/utils/profiling_parser_metadata_elf_40XX.mlir
  tests/lit/NPU/utils/profiling_parser_text_40XX.mlir
  tests/lit/NPU/utils/profiling_parser_text_elf_37XX.mlir
  tests/lit/NPU/utils/serialize_cache_handling_op_prof_elf_37XX.mlir
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

Disable debug cache
  .github/workflows/ubuntu_22.yml
  .github/workflows/ubuntu_24.yml
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

Fix Build inputs
  .github/workflows/job_mlir_linux.yml
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

Fix Lit tests REQUIRES
  tests/lit/NPU/conversion/pipelines/VPUIP2ELF/mi_relocs_40XX+_wlm_with_barrier_programming.mlir
  tests/lit/NPU/dialect/IE/passes/convert_space2depth_40XX+.mlir
  tests/lit/NPU/dialect/IE/passes/propagate_quantize_dequantize.mlir
  tests/lit/NPU/dialect/VPU/passes/adjust_lstmcell_inputs.mlir
  tests/lit/NPU/dialect/VPU/passes/wrap_ops_in_sparsify_pairs_AUTO.mlir
  tests/lit/NPU/dialect/VPUIP/ops/dma_40XX+.mlir
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

FileCheck error: <stdin> is empty.
  tests/lit/NPU/dialect/VPUMI40XX/dump_statistics_of_wlm_ops_40XX+.mlir
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

Hits solved (2)
  src/vpux_compiler/src/bitc/src/Encoder.cpp
  src/vpux_compiler/src/dialect/VPUIP/transforms/passes/dump_statistics_of_task_ops.cpp
Owners: @vinograd47, @nikita-kud

Temporary: add CodeQL check to the precommit scope
  .github/workflows/codeql.yml
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

Check submodules
  .gitmodules
Owners: @ArtemySkrebkov-intel, @vinograd47

Hits solved (2)
  src/vpux_compiler/src/dialect/IE/utils/interpolate_utils.cpp
  src/vpux_compiler/src/dialect/VPUIP/transforms/passes/patch_populate_weight_table_with_shave.cpp
Owners: @vinograd47, @nikita-kud

Fix LIT tests
  src/vpux_compiler/src/dialect/IE/utils/interpolate_utils.cpp
Owners: @vinograd47, @nikita-kud

Test CI.
  src/vpux_compiler/CMakeLists.txt
Owners: @vinograd47, @nikita-kud

Add fixing.
  src/vpux_compiler/CMakeLists.txt
  tools/vpux-translate/CMakeLists.txt
  tools/vpux-translate/vpux-translate.cpp
Owners: @vinograd47, @nikita-kud, @shokinal, @mmineeva

Update config.
  .github/workflows/job_tests_unit_mlir_linux.yml
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

Rollback lit tests.
  tests/lit/NPU/backend/VPUIP_37XX.mlir
  tests/lit/NPU/conversion/pipelines/dynamic_broadcast_w_shapeOf.mlir
  tests/lit/NPU/conversion/pipelines/dynamic_reshape.mlir
  tests/lit/NPU/conversion/pipelines/dynamic_strided_slice.mlir
  tests/lit/NPU/conversion/pipelines/loop.mlir
  tests/lit/NPU/conversion/pipelines/shape_of_37XX.mlir
  tests/lit/NPU/conversion/pipelines/shape_of_3_37XX.mlir
  tests/lit/NPU/dialect/NPUReg40XX/one_dma_elf_export_roundtrip.mlir
  tests/lit/NPU/large_memory/baseline_37XX.mlir
  tests/lit/NPU/large_memory/baseline_40XX.mlir
  tests/lit/NPU/large_memory/leon_overflow_37XX.mlir
  tests/lit/NPU/large_memory/shave_overflow_37XX.mlir
  tests/lit/NPU/large_memory/shave_overflow_40XX.mlir
  tests/lit/NPU/pipelines/import_IE_bounded_dynamism_to_static_37XX.mlir
  tests/lit/NPU/pipelines/import_IE_dynamic_transpose_37XX.mlir
  tests/lit/NPU/pipelines/import_IE_dynamic_transpose_with_bounds_37XX.mlir
  tests/lit/NPU/pipelines/shape_of_gather_strided_slice_test_37XX.mlir
  tests/lit/NPU/pipelines/slice-to-strided-slice.mlir
  tests/lit/NPU/pipelines/strided-slice-non-const-ends-test_37XX.mlir
  tests/lit/NPU/roundtrip/act-kernel_37XX.mlir
  tests/lit/NPU/roundtrip/two-dma-ports_37XX.mlir
  tests/lit/NPU/roundtrip/verify-dma_37XX.mlir
  tests/lit/NPU/utils/profiling_parser_debug_40XX.mlir
  tests/lit/NPU/utils/profiling_parser_debug_elf_37XX.mlir
  tests/lit/NPU/utils/profiling_parser_json_40XX.mlir
  tests/lit/NPU/utils/profiling_parser_json_verbose_40XX.mlir
  tests/lit/NPU/utils/profiling_parser_metadata_elf_37XX.mlir
  tests/lit/NPU/utils/profiling_parser_metadata_elf_40XX.mlir
  tests/lit/NPU/utils/profiling_parser_text_40XX.mlir
  tests/lit/NPU/utils/profiling_parser_text_elf_37XX.mlir
  tests/lit/NPU/utils/serialize_cache_handling_op_prof_elf_37XX.mlir
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

Fix lit version mismatch.
  tests/lit/NPU/backend/VPUIP_37XX.mlir
  tests/lit/NPU/conversion/pipelines/dynamic_broadcast_w_shapeOf.mlir
  tests/lit/NPU/conversion/pipelines/dynamic_reshape.mlir
  tests/lit/NPU/conversion/pipelines/dynamic_strided_slice.mlir
  tests/lit/NPU/conversion/pipelines/loop.mlir
  tests/lit/NPU/conversion/pipelines/shape_of_37XX.mlir
  tests/lit/NPU/conversion/pipelines/shape_of_3_37XX.mlir
  tests/lit/NPU/dialect/NPUReg40XX/one_dma_elf_export_roundtrip.mlir
  tests/lit/NPU/large_memory/baseline_37XX.mlir
  tests/lit/NPU/large_memory/baseline_40XX.mlir
  tests/lit/NPU/large_memory/leon_overflow_37XX.mlir
  tests/lit/NPU/large_memory/shave_overflow_37XX.mlir
  tests/lit/NPU/large_memory/shave_overflow_40XX.mlir
  tests/lit/NPU/pipelines/import_IE_bounded_dynamism_to_static_37XX.mlir
  tests/lit/NPU/pipelines/import_IE_dynamic_transpose_37XX.mlir
  tests/lit/NPU/pipelines/import_IE_dynamic_transpose_with_bounds_37XX.mlir
  tests/lit/NPU/pipelines/shape_of_gather_strided_slice_test_37XX.mlir
  tests/lit/NPU/pipelines/slice-to-strided-slice.mlir
  tests/lit/NPU/pipelines/strided-slice-non-const-ends-test_37XX.mlir
  tests/lit/NPU/roundtrip/act-kernel_37XX.mlir
  tests/lit/NPU/roundtrip/two-dma-ports_37XX.mlir
  tests/lit/NPU/roundtrip/verify-dma_37XX.mlir
  tests/lit/NPU/utils/profiling_parser_debug_40XX.mlir
  tests/lit/NPU/utils/profiling_parser_debug_elf_37XX.mlir
  tests/lit/NPU/utils/profiling_parser_json_40XX.mlir
  tests/lit/NPU/utils/profiling_parser_json_verbose_40XX.mlir
  tests/lit/NPU/utils/profiling_parser_metadata_elf_37XX.mlir
  tests/lit/NPU/utils/profiling_parser_metadata_elf_40XX.mlir
  tests/lit/NPU/utils/profiling_parser_text_40XX.mlir
  tests/lit/NPU/utils/profiling_parser_text_elf_37XX.mlir
  tests/lit/NPU/utils/serialize_cache_handling_op_prof_elf_37XX.mlir
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

Add license.
  tests/lit/NPU/backend/VPUIP_37XX.mlir
  tests/lit/NPU/conversion/pipelines/dynamic_broadcast_w_shapeOf.mlir
  tests/lit/NPU/conversion/pipelines/dynamic_reshape.mlir
  tests/lit/NPU/conversion/pipelines/dynamic_strided_slice.mlir
  tests/lit/NPU/conversion/pipelines/loop.mlir
  tests/lit/NPU/conversion/pipelines/shape_of_37XX.mlir
  tests/lit/NPU/conversion/pipelines/shape_of_3_37XX.mlir
  tests/lit/NPU/dialect/NPUReg40XX/one_dma_elf_export_roundtrip.mlir
  tests/lit/NPU/large_memory/baseline_37XX.mlir
  tests/lit/NPU/large_memory/baseline_40XX.mlir
  tests/lit/NPU/large_memory/leon_overflow_37XX.mlir
  tests/lit/NPU/large_memory/shave_overflow_37XX.mlir
  tests/lit/NPU/large_memory/shave_overflow_40XX.mlir
  tests/lit/NPU/pipelines/import_IE_bounded_dynamism_to_static_37XX.mlir
  tests/lit/NPU/pipelines/import_IE_dynamic_transpose_37XX.mlir
  tests/lit/NPU/pipelines/import_IE_dynamic_transpose_with_bounds_37XX.mlir
  tests/lit/NPU/pipelines/shape_of_gather_strided_slice_test_37XX.mlir
  tests/lit/NPU/pipelines/slice-to-strided-slice.mlir
  tests/lit/NPU/pipelines/strided-slice-non-const-ends-test_37XX.mlir
  tests/lit/NPU/roundtrip/act-kernel_37XX.mlir
  tests/lit/NPU/roundtrip/two-dma-ports_37XX.mlir
  tests/lit/NPU/roundtrip/verify-dma_37XX.mlir
  tests/lit/NPU/utils/profiling_parser_debug_40XX.mlir
  tests/lit/NPU/utils/profiling_parser_debug_elf_37XX.mlir
  tests/lit/NPU/utils/profiling_parser_json_40XX.mlir
  tests/lit/NPU/utils/profiling_parser_json_verbose_40XX.mlir
  tests/lit/NPU/utils/profiling_parser_metadata_elf_37XX.mlir
  tests/lit/NPU/utils/profiling_parser_metadata_elf_40XX.mlir
  tests/lit/NPU/utils/profiling_parser_text_40XX.mlir
  tests/lit/NPU/utils/profiling_parser_text_elf_37XX.mlir
  tests/lit/NPU/utils/serialize_cache_handling_op_prof_elf_37XX.mlir
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

[Coverity] - Fix Attempting to access the managed object of an empty smart pointer record - copy
  src/vpux_utils/src/profiling/parser/parser.cpp
Owners: @vinograd47, @nikita-kud

Bump urllib3 from 2.4.0 to 2.5.0
  .github/actions/download-models/requirements.txt
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

Enable prefetching of SW kernel instructions after the first SW task
  src/vpux_compiler/src/dialect/VPUIP/transforms/passes/add_sw_kernel_instruction_prefetch.cpp
Owners: @vinograd47, @nikita-kud

style: Code cleanup and formatting
  src/vpux_compiler/src/dialect/VPUIP/transforms/passes/add_sw_kernel_instruction_prefetch.cpp
Owners: @vinograd47, @nikita-kud

func: Add test case, change t3 to t1
  src/vpux_compiler/src/dialect/VPUIP/transforms/passes/add_sw_kernel_instruction_prefetch.cpp
  tests/lit/NPU/dialect/VPUIP/passes/add_sw_kernel_instruction_prefetch_mid_execution_40XX.mlir
Owners: @vinograd47, @nikita-kud, @mmineeva, @ArtemySkrebkov-intel

Add instpf memory to the config of the 4 failed tests
  tests/lit/NPU/dialect/VPUIP/pipelines/default_hw_mode_40XX.mlir
  tests/lit/NPU/dialect/VPUIP/pipelines/default_hw_mode_repeating_blocks.mlir
  tests/lit/NPU/dialect/VPUIP/pipelines/default_hw_mode_schedule_trace_enabled_40XX.mlir
  tests/lit/NPU/dialect/VPUIP/pipelines/default_hw_mode_vertical_fusion_outlining_40XX+.mlir
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

Fix clang format check
  src/vpux_compiler/src/dialect/VPUIP/transforms/passes/add_sw_kernel_instruction_prefetch.cpp
Owners: @vinograd47, @nikita-kud

Fix memory allocation assertion
  tests/lit/NPU/dialect/VPUIP/pipelines/default_hw_mode_repeating_blocks.mlir
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

Fix memory allocation assertion in NPU40XX tests
  tests/lit/NPU/dialect/VPUIP/pipelines/default_hw_mode_40XX.mlir
  tests/lit/NPU/dialect/VPUIP/pipelines/default_hw_mode_schedule_trace_enabled_40XX.mlir
  tests/lit/NPU/dialect/VPUIP/pipelines/default_hw_mode_vertical_fusion_outlining_40XX+.mlir
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

Fix CLIP tests in CI
  src/vpux_compiler/src/dialect/VPUIP/transforms/passes/add_sw_kernel_instruction_prefetch.cpp
Owners: @vinograd47, @nikita-kud

Fix clang format check
  src/vpux_compiler/src/dialect/VPUIP/transforms/passes/add_sw_kernel_instruction_prefetch.cpp
Owners: @vinograd47, @nikita-kud

Fix mid execution mlir test by replacing topk with convert
  tests/lit/NPU/dialect/VPUIP/passes/add_sw_kernel_instruction_prefetch_mid_execution_40XX.mlir
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

Add vclAllocatedExecutableCreateWSOneShot
  src/vpux_compiler/include/vpux/compiler/compiler.hpp
  src/vpux_compiler/src/compiler.cpp
  src/vpux_driver_compiler/CHANGES.txt
  src/vpux_driver_compiler/include/npu_driver_compiler.h
  src/vpux_driver_compiler/include/vcl_compiler.hpp
  src/vpux_driver_compiler/src/vpux_compiler_l0/vcl_bridge.cpp
  src/vpux_driver_compiler/src/vpux_compiler_l0/vcl_common.cpp
  src/vpux_driver_compiler/src/vpux_compiler_l0/vcl_compiler.cpp
  src/vpux_driver_compiler/test/smoke/CMakeLists.txt
  src/vpux_driver_compiler/test/smoke/include/vcl_metadata.hpp
  src/vpux_driver_compiler/test/smoke/include/vcl_utils.hpp
Owners: @vinograd47, @nikita-kud, @mmineeva, @ArtemySkrebkov-intel

Refactor code, rename variables and add comments
  src/vpux_compiler/src/dialect/VPUIP/transforms/passes/add_sw_kernel_instruction_prefetch.cpp
  tests/lit/NPU/dialect/VPUIP/passes/add_sw_kernel_instruction_prefetch_mid_execution_40XX.mlir
Owners: @vinograd47, @nikita-kud, @mmineeva, @ArtemySkrebkov-intel

Address code review comments
  src/vpux_compiler/src/dialect/VPUIP/transforms/passes/add_sw_kernel_instruction_prefetch.cpp
Owners: @vinograd47, @nikita-kud

Address code review comments
  src/vpux_compiler/src/dialect/VPUIP/transforms/passes/add_sw_kernel_instruction_prefetch.cpp
Owners: @vinograd47, @nikita-kud

add a job to build plugin compiler
  .github/workflows/job_build_cip.yml
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

Generate build manifest
  .github/actions/versions/action.yml
  .github/workflows/job_build_cid.yml
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

CODEOWNERS:

# These owners will be the default reviewers for pull/merge requests in the repo.
#
# MLIR Compiler - Vinogradov, Vladislav (@vinograd47) / Kudriavtsev, Nikita (@nikita-kud)
# Quantization / Mixed Datatypes - Shokin, Alexander (@shokinal) / Rotuna, Harald Razvan (@hrotuna) / Zomborat, Zoran (@ZoranZomborat)
# Strategy Generation - DeFlumere, Ashley (@adeflume)
# Binaries (RT, vpualHost), Backends - Skrebkov, Artemy (@ArtemySkrebkov-intel) / Znamenskiy, Mikhail (@mznamens)
# Software Layers - Shumihim, Sergey (@sshumihi) / Kurin, Maxim (@maxim-kurin)
# mcmCompiler - Yao, Shaojun (@syao-2015) / Mineeva, Marina (@mmineeva)
# mcmEmulator - Zomborat, Zoran (@ZoranZomborat)
# Memory/Barrier scheduling - Brady, John (@bradyjohn) / Gwizdz, Michal (@MichalGwizdzIntel)
# MTL - Gladilov, Gleb (@gladilov-gleb) / Pedus, Mikhail (@MikhailPedus) / Losev, Sergey (@briangrifiin)
# Runtime - Skvortsov, Vladimir (@vmskv) /  Smirnov, Evgeny (esmirno)
# Testing - Perepelkin, Alexander (@alpkn)
#
# Rules:
#   1. Each directory should have a minimum of 2 code owners.
#   2. Order is important as the last matching pattern takes the most precedence.
#      Keep folders below sorted in folder hierarchy order (alphabetically).
#
# Repo default owners -- these normally should not trigger
# unless someone tries to change the whole folder structure
* @vinograd47 @mmineeva @ArtemySkrebkov-intel
#
##################################################################
# Files / Folders
#
# Protected files. Shouldn't be modified without approval
.clang-format @ArtemySkrebkov-intel @vinograd47
.gitmodules  @ArtemySkrebkov-intel @vinograd47
.gitignore  @ArtemySkrebkov-intel @vinograd47
CODEOWNERS @vinograd47 @mmineeva @ArtemySkrebkov-intel
CMakeLists.txt @vinograd47 @mmineeva @ArtemySkrebkov-intel
#
# artifacts folder
/artifacts @ArtemySkrebkov-intel @mznamens
#
# src folder
/src/custom_cpp_kernels @nikita-kud @maxim-kurin
/src/custom_extension_library @lerbelintel @maxim-kurin
/src/custom_ocl_kernels @mikhailk62 @maxim-kurin
/src/emulator_backend @ArtemySkrebkov-intel @ZoranZomborat
/src/frontend_mcm @ArtemySkrebkov-intel @mmineeva
/src/hddl2_backend @ArtemySkrebkov-intel @mznamens
/src/mcmCompiler @syao-2015 @mmineeva
/src/mcmCompiler/src/pass/optimization @adeflume @bradyjohn
/src/utils @briangrifiin @mznamens
/src/vpual_backend @briangrifiin @ArtemySkrebkov-intel
/src/vpux_al @ArtemySkrebkov-intel @mznamens
/src/vpux_compiler @vinograd47 @nikita-kud
/src/vpux_elf @gladilov-gleb @AndrewBakalinIntel 
/src/vpux_ngraph_transformations @shokinal @maxim-kurin
/src/vpux_plugin @ArtemySkrebkov-intel @mznamens
/src/vpux_translate_utils @gladilov-gleb @MikhailPedus
/src/vpux_utils @vinograd47 @nikita-kud
/src/zero_backend @ArtemySkrebkov-intel @mznamens
#
# SW Runtime kernels folder
/sw_runtime_kernels @vmskv @esmirno
#
# tools folder
/tools @shokinal @mmineeva
#
# Validation folder
/validation @maxim-kurin @sshumihi @SokolovAndrey1
#
