Repository openvinotoolkit/npu_compiler, changes with the owners that CODEOWNERS names for each.
All owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel, @mznamens, @nikita-kud, @maxim-kurin, @lerbelintel, @mikhailk62, @ZoranZomborat, @syao-2015, @adeflume, @bradyjohn, @briangrifiin, @gladilov-gleb, @AndrewBakalinIntel, @shokinal, @MikhailPedus, @vmskv, @esmirno, @sshumihi, @SokolovAndrey1

UD2026.08 CiP RC2 (#261)
  .github/actions/versions/action.yml
  .github/workflows/clang-format.yml
  .github/workflows/codeql.yml
  .github/workflows/job_build_cid.yml
  .github/workflows/job_build_plugin_linux.yml
  .github/workflows/scorecard.yml
  .github/workflows/ubuntu_22.yml
  .github/workflows/ubuntu_24.yml
  .github/workflows/windows_2022.yml
  src/vpux_compiler/include/vpux/compiler/dialect/VPU/interfaces/scf/scf_tiling_interfaces.hpp
  src/vpux_compiler/src/NPU40XX/dialect/VPU/interfaces/scf_tiling_ops.cpp
  src/vpux_compiler/src/dialect/VPU/IR/ops/nce_compress_convolution.cpp
  src/vpux_compiler/tblgen/vpux/compiler/dialect/VPU/ops/dpu.td
  src/vpux_driver_compiler/src/vpux_compiler_l0/vcl_common.cpp
  tests/lit/NPU/dialect/VPU/passes/apply_tiling_scf_40XX+.mlir
  tests/lit/NPU/dialect/VPU/passes/scf_vertical_fusion_40XX+.mlir
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel, @nikita-kud

UD2026.12 CiP patch (#278)
  src/vpux_driver_compiler/src/vpux_compiler_l0/vcl_compiler.cpp
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

[IE] Defense-in-depth: reject zero-dim FC ops in UnrollFullyConnected
  src/vpux_compiler/src/dialect/IE/transforms/passes/unroll_fully_connected.cpp
Owners: @vinograd47, @nikita-kud

docs: add PR description for UnrollFullyConnected zero-dim guard
  PR2_DESCRIPTION.md
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

[IE] Exempt zero-dim FC ops from ConvertFCToConv via addDynamicallyLegalOp
  PR_DESCRIPTION.md
  src/vpux_compiler/src/dialect/IE/transforms/passes/convert_fc_to_conv.cpp
  tests/lit/NPU/dialect/IE/passes/convert_fc_to_conv_zero_dim_guard.mlir
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel, @nikita-kud

Init CodeQL later
  .github/workflows/job_build_plugin_linux.yml
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

test: add LIT test for zero-dim guard in UnrollFullyConnected
  tests/lit/NPU/dialect/IE/passes/unroll_fully_connected_zero_dim_guard.mlir
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

docs: update PR description — LIT test now included
  PR2_DESCRIPTION.md
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

Release snapshot 2026/28
  .github/workflows/job_build_cid.yml
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

delete layer
  src/vpux_compiler/src/core/layers.cpp
Owners: @vinograd47, @nikita-kud

Release 2026/28
  src/vpux_compiler/src/NPU50XX/CMakeLists.txt
Owners: @vinograd47, @nikita-kud

Release 2026/28
  src/vpux_compiler/src/dialect/VPUIP/transforms/passes/compress_weights_btc.cpp
Owners: @vinograd47, @nikita-kud

Release 2026/28
  CMakeLists.txt
  src/CMakeLists.txt
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

Release 2026/28
  .github/workflows/job_build_cid.yml
  src/CMakeLists.txt
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

Release 2026/28
  .github/workflows/ubuntu_22.yml
  .github/workflows/ubuntu_24.yml
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

Release 2026/28
  .github/workflows/job_build_cid.yml
  artifacts/precomputed_strategy_cache/npu50xx_precomputed_strategy.json
  artifacts/precomputed_strategy_cache/npu50xx_precomputed_strategy.ptc
  src/vpux_compiler/src/NPU50XX/CMakeLists.txt
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel, @mznamens, @nikita-kud

update pip packages
  .github/actions/compile-models/requirements.in
  .github/actions/compile-models/requirements.txt
  .github/actions/download-models/requirements.in
  .github/actions/download-models/requirements.txt
  scripts/build/requirements.txt
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

Fix potential use after free #2783
  src/mlir_runtime/npu_mlir_runtime.cpp
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

fix multiplication result converted to larger type #2782
  src/vpux_compiler/src/dialect/VPU/utils/tile_utils.cpp
Owners: @vinograd47, @nikita-kud

Revert "Fix potential use after free #2783"
  src/mlir_runtime/npu_mlir_runtime.cpp
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

Revert "fix multiplication result converted to larger type #2782"
  src/vpux_compiler/src/dialect/VPU/utils/tile_utils.cpp
Owners: @vinograd47, @nikita-kud

update pip modules
  .github/actions/compile-models/requirements.in
  .github/actions/compile-models/requirements.txt
  .github/actions/download-models/requirements.in
  .github/actions/download-models/requirements.txt
  .github/requirements-dev.in
  .github/requirements-dev.txt
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

update CodeQL
  .github/workflows/codeql.yml
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

update pip modules
  .github/requirements-dev.in
  .github/requirements-dev.txt
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

setuptools bump
  .github/actions/compile-models/requirements.in
  .github/actions/compile-models/requirements.txt
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

driver version update to 1.35.0
  validation/linux_npu_driver_config.json
Owners: @maxim-kurin, @sshumihi, @SokolovAndrey1

enable driver build and validation steps for U24
  .github/workflows/ubuntu_24.yml
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

no run-unit-tests
  .github/workflows/ubuntu_24.yml
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

fix compilation error when C > 8K
  src/vpux_compiler/src/NPU50XX/dialect/VPU/transforms/passes/decompose_softmax_in_sdpa.cpp
  tests/lit/NPU/dialect/VPU/passes/decompose_softmax_in_sdpa_50XX.mlir
Owners: @vinograd47, @nikita-kud, @mmineeva, @ArtemySkrebkov-intel

vpux_utils: add missing <cstdlib> for std::getenv
  src/vpux_utils/src/core/developer_build_utils.cpp
Owners: @vinograd47, @nikita-kud

[IE] UnrollGroupQuantize: make unrolled slice locations unique per consumer
  src/vpux_compiler/src/dialect/IE/transforms/passes/unroll_group_quantize.cpp
  tests/lit/NPU/dialect/IE/passes/unroll_group_quantize_shared_param_locations.mlir
Owners: @vinograd47, @nikita-kud, @mmineeva, @ArtemySkrebkov-intel

Cache sorted async dependency vectors
  src/vpux_compiler/include/vpux/compiler/core/async_deps_info.hpp
  src/vpux_compiler/src/core/async_deps_info.cpp
  tests/unit/vpux_compiler/core/async_deps_info_tests.cpp
Owners: @vinograd47, @nikita-kud, @mmineeva, @ArtemySkrebkov-intel

update git workflow
  .github/workflows/job_build_cid.yml
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

UD2026.38 Content
  SourcePackageConfig.json
  src/vpux_compiler/src/dialect/VPUIP/utils/dma_optimization/edge_collector.cpp
  tests/functional/subgraph_tests/tile_broadcast_add_relu.cpp
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel, @nikita-kud

Add explicit constructor to ResourceDescriptor for C++20/C++23 compatibility
  src/vpux_compiler/src/dialect/VPUIP/IR/dialect_interfaces.cpp
Owners: @vinograd47, @nikita-kud

Add explicit constructor to ResourceDescriptor for C++20/C++23 compatibility (#350)
  src/vpux_compiler/src/dialect/VPUIP/IR/dialect_interfaces.cpp
Owners: @vinograd47, @nikita-kud

pip modules update
  .github/actions/compile-models/requirements.in
  .github/actions/compile-models/requirements.txt
  .github/actions/download-models/requirements.in
  .github/actions/download-models/requirements.txt
  .github/requirements-dev.in
  .github/requirements-dev.txt
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

pip modules update (#353)
  .github/actions/compile-models/requirements.in
  .github/actions/compile-models/requirements.txt
  .github/actions/download-models/requirements.in
  .github/actions/download-models/requirements.txt
  .github/requirements-dev.in
  .github/requirements-dev.txt
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

GHA updates
  .github/workflows/clang-format.yml
  .github/workflows/codeql.yml
  .github/workflows/job_build_cid.yml
  .github/workflows/job_build_drv_linux.yml
  .github/workflows/job_build_plugin_linux.yml
  .github/workflows/job_tests_compilation_linux.yml
  .github/workflows/job_tests_unit_plugin_linux.yml
  .github/workflows/scorecard.yml
Owners: @vinograd47, @mmineeva, @ArtemySkrebkov-intel

Replace nullptr with empty string in ternary expressions
  src/vpux_compiler/src/dialect/IE/transforms/passes/optimize_precision_across_function_calls.cpp
Owners: @vinograd47, @nikita-kud

CODEOWNERS:

# These owners will be the default reviewers for pull/merge requests in the repo.
#
# MLIR Compiler - Vinogradov, Vladislav (@vinograd47) / Kudriavtsev, Nikita (@nikita-kud)
# Quantization / Mixed Datatypes - Shokin, Alexander (@shokinal) / Rotuna, Harald Razvan (@hrotuna) / Zomborat, Zoran (@ZoranZomborat)
# Strategy Generation - DeFlumere, Ashley (@adeflume)
# Binaries (RT, vpualHost), Backends - Skrebkov, Artemy (@ArtemySkrebkov-intel) / Znamenskiy, Mikhail (@mznamens)
# Software Layers - Shumihim, Sergey (@sshumihi) / Kurin, Maxim (@maxim-kurin)
# mcmCompiler - Yao, Shaojun (@syao-2015) / Mineeva, Marina (@mmineeva)
# mcmEmulator - Zomborat, Zoran (@ZoranZomborat)
# Memory/Barrier scheduling - Brady, John (@bradyjohn) / Gwizdz, Michal (@MichalGwizdzIntel)
# MTL - Gladilov, Gleb (@gladilov-gleb) / Pedus, Mikhail (@MikhailPedus) / Losev, Sergey (@briangrifiin)
# Runtime - Skvortsov, Vladimir (@vmskv) /  Smirnov, Evgeny (esmirno)
# Testing - Perepelkin, Alexander (@alpkn)
#
# Rules:
#   1. Each directory should have a minimum of 2 code owners.
#   2. Order is important as the last matching pattern takes the most precedence.
#      Keep folders below sorted in folder hierarchy order (alphabetically).
#
# Repo default owners -- these normally should not trigger
# unless someone tries to change the whole folder structure
* @vinograd47 @mmineeva @ArtemySkrebkov-intel
#
##################################################################
# Files / Folders
#
# Protected files. Shouldn't be modified without approval
.clang-format @ArtemySkrebkov-intel @vinograd47
.gitmodules  @ArtemySkrebkov-intel @vinograd47
.gitignore  @ArtemySkrebkov-intel @vinograd47
CODEOWNERS @vinograd47 @mmineeva @ArtemySkrebkov-intel
CMakeLists.txt @vinograd47 @mmineeva @ArtemySkrebkov-intel
#
# artifacts folder
/artifacts @ArtemySkrebkov-intel @mznamens
#
# src folder
/src/custom_cpp_kernels @nikita-kud @maxim-kurin
/src/custom_extension_library @lerbelintel @maxim-kurin
/src/custom_ocl_kernels @mikhailk62 @maxim-kurin
/src/emulator_backend @ArtemySkrebkov-intel @ZoranZomborat
/src/frontend_mcm @ArtemySkrebkov-intel @mmineeva
/src/hddl2_backend @ArtemySkrebkov-intel @mznamens
/src/mcmCompiler @syao-2015 @mmineeva
/src/mcmCompiler/src/pass/optimization @adeflume @bradyjohn
/src/utils @briangrifiin @mznamens
/src/vpual_backend @briangrifiin @ArtemySkrebkov-intel
/src/vpux_al @ArtemySkrebkov-intel @mznamens
/src/vpux_compiler @vinograd47 @nikita-kud
/src/vpux_elf @gladilov-gleb @AndrewBakalinIntel 
/src/vpux_ngraph_transformations @shokinal @maxim-kurin
/src/vpux_plugin @ArtemySkrebkov-intel @mznamens
/src/vpux_translate_utils @gladilov-gleb @MikhailPedus
/src/vpux_utils @vinograd47 @nikita-kud
/src/zero_backend @ArtemySkrebkov-intel @mznamens
#
# SW Runtime kernels folder
/sw_runtime_kernels @vmskv @esmirno
#
# tools folder
/tools @shokinal @mmineeva
#
# Validation folder
/validation @maxim-kurin @sshumihi @SokolovAndrey1
#
